<launch>
  <include file="$(find rapp_knowrob_wrapper)/launch/knowrob_wrapper.launch" />
  <include file="$(find rapp_qr_detection)/launch/qr_detection.launch" />
  <include file="$(find rapp_speech_detection_sphinx4)/launch/speech_detection_sphinx4.launch" />
  <include file="$(find rapp_face_detection)/launch/face_detection.launch" />
  <include file="$(find rapp_human_detection)/launch/human_detection.launch" />
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <include file="$(find rapp_speech_detection_google)/launch/speech_recognition_google.launch" />
  <include file="$(find rapp_text_to_speech_espeak)/launch/text_to_speech_espeak.launch" />
  <include file="$(find rapp_cognitive_exercise)/launch/cognitive_exercise.launch" />
  <include file="$(find rapp_email)/launch/email.launch" />
  <include file="$(find rapp_geolocator)/launch/geolocator.launch" />
  <include file="$(find rapp_news_explorer)/launch/news_explorer.launch" />
  <include file="$(find rapp_weather_reporter)/launch/weather_reporter.launch" />
  <include file="$(find rapp_caffe_wrapper)/launch/caffe_wrapper.launch" />
  <include file="$(find rapp_hazard_detection)/launch/hazard_detection.launch" />
  <include file="$(find rapp_path_planning)/launch/path_planning.launch" />
  <include file="$(find rapp_application_authentication_manager )/launch/application_authentication.launch" />
</launch>
