<launch>
  <include file="$(find rapp_knowrob_wrapper)/launch/knowrob_wrapper.launch" />
  <include file="$(find rapp_qr_detection)/launch/qr_detection.launch" />
  <include file="$(find rapp_speech_detection_sphinx4)/launch/speech_detection_sphinx4.launch" />
  <include file="$(find rapp_face_detection)/launch/face_detection.launch" />
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <include file="$(find rapp_speech_detection_google)/launch/speech_recognition_google.launch" />
  <include file="$(find rapp_text_to_speech_espeak)/launch/text_to_speech_espeak.launch" />
  <include file="$(find rapp_cognitive_exercise)/launch/cognitive_exercise.launch" />
</launch>
