<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>RAPP Platform Web Services Development Templates Source: web_service_basic.template.js</title>

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link type="text/css" rel="stylesheet" href="styles/sunlight.default.css">

	<link type="text/css" rel="stylesheet" href="styles/site.cosmo.css">

</head>

<body>

<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
<div class="container">
	<div class="navbar-header">
		<a class="navbar-brand" href="index.html">RAPP Platform Web Services Development Templates</a>
	</div>
	<div class="navbar-collapse">
		<ul class="nav navbar-nav">
			
		</ul>
	</div>
</div>
</div>


<div class="container">
<div class="row">

	
	<div class="col-md-12">
	
		<div id="main">
			

		<h1 class="page-title">Source: web_service_basic.template.js</h1>
    
<section>
    <article>
        <pre
            class="sunlight-highlight-javascript linenums">/***
 * Copyright 2015 RAPP
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * Authors: Konstantinos Panayiotou
 * Contact: klpanagi@gmail.com
 *
 */


/**
 *  @author Konstantinos Panayiotou, [klpanagi@gmail.com]
 *
 *  @fileOverview
 *
 *  Illustrates the implementation of a HOP Service, a.k.a
 *  RAPP Platform Web Service.
 *
 */

var util = require('util');

var rosSrvName = '/rapp/dummy';


/**
 *  Template RAPP Platform Web Service
 *
 *  This template web service has two input arguments:
 *    name: A String service input parameter.
 *    number: An integer service input parameter.
 *
 *  This is the callback function that will be executed on request
 *  arrival and after successful authentication (If the web service requires
 *  authentication)

 *  The following arguments are passed to the web service implementation
 *  function:
 *
 *  @param req - The request object. Holds request information like
 *  body values, file uploads paths, request headers, etc.
 *
 *  @param resp - The response object. Holds response methods used to send
 *  responses to the client.
 *
 *  @param ros - Use this object to call ROS Services.
 */
function template_web_svc(req, resp, ros) {
  // Web Service arguments are members of the req.body object
  var name = req.body.name || "Uknown";
  var number = req.body.number || -1;

  // Request headers
  console.log(util.format("Request headers: %s", req.header));
  // The request body. File uploads are excluded.
  console.log(util.format("Request body: %s", req.body));
  // Uploaded files. multipart/form-data file upload post fields.
  console.log(util.format("Uploaded files: %s", req.files));
  // RAPP user username
  console.log(util.format("RAPP user username: %s", req.username));

  var response = {
    msg: util.format('Hello %s #%s', name, number),
    error: ''
  };

  if (name === "Uknown" || number === -1) {
    response.error = 'Missing input arguments';
    resp.sendJson(response);
    return;
  }

  /**
   * ros.callService() method is used to call a ROS Service. This method has
   * three (3) input arguments:
   *
   * ros.callService(rosSrvName, rosMsg,
   *  {success: function(){}, fail: function(){}})
   */

  // ROS Service request message
  var rosMsg = {
    name: name,
    number: number
  };

  function onsuccess(rosResp) {
    resp.sendJson(rosResp);
  }

  function onfailure(err) {
    resp.sendJson({error: err});
  }

  // Call ROS-Service.
  ros.callService(rosSrvName, rosMsg, {success: onsuccess, fail: onfailure});
}


// Export the web service implementation function
module.exports = template_web_svc;
</pre>
    </article>
</section>





		</div>
	</div>

	<div class="clearfix"></div>

	

</div>
</div>


<footer>


	<span class="copyright">
	Rapp Project EU 2015
	</span>

<span class="jsdoc-message">
	Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc 3.4.0</a>
	on Fri Jul 29th 2016 using the <a
	href="https://github.com/docstrap/docstrap">DocStrap template</a>.
</span>
</footer>

<!--<script src="scripts/sunlight.js"></script>-->
<script src="scripts/docstrap.lib.js"></script>
<script src="scripts/bootstrap-dropdown.js"></script>
<script src="scripts/toc.js"></script>

<script>
$( function () {
	$( "[id*='$']" ).each( function () {
		var $this = $( this );

		$this.attr( "id", $this.attr( "id" ).replace( "$", "__" ) );
	} );

	$( ".tutorial-section pre, .readme-section pre" ).each( function () {
		var $this = $( this );

		var example = $this.find( "code" );
		exampleText = example.html();
		var lang = /{@lang (.*?)}/.exec( exampleText );
		if ( lang && lang[1] ) {
			exampleText = exampleText.replace( lang[0], "" );
			example.html( exampleText );
			lang = lang[1];
		} else {
			var langClassMatch = example.parent()[0].className.match(/lang\-(\S+)/);
			lang = langClassMatch ? langClassMatch[1] : "javascript";
		}

		if ( lang ) {

			$this
			.addClass( "sunlight-highlight-" + lang )
			.addClass( "linenums" )
			.html( example.html() );

		}
	} );

	Sunlight.highlightAll( {
		lineNumbers : true,
		showMenu : true,
		enableDoclinks : true
	} );

	$( "#toc" ).toc( {
		anchorName  : function ( i, heading, prefix ) {
			var id = $( heading ).attr( "id" );
			return id && id.replace(/\~/g, '-inner-').replace(/\./g, '-static-') || ( prefix + i );
		},
		selectors   : "h1,h2,h3,h4",
		showAndHide : false,
                navbarOffset: 10,
		smoothScrolling: true
	} );

	$( "#toc>ul" ).addClass( "nav nav-pills nav-stacked" );
	$( "#main span[id^='toc']" ).addClass( "toc-shim" );
	$( '.dropdown-toggle' ).dropdown();
	//			$( ".tutorial-section pre, .readme-section pre" ).addClass( "sunlight-highlight-javascript" ).addClass( "linenums" );

  $( "table" ).each( function () {
    var $this = $( this );
    $this.addClass('table');
  } );

} );
</script>



<!--Navigation and Symbol Display-->


<!--Google Analytics-->


</body>
</html>
